* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow: scroll;
    overflow-x: hidden;
}

/* HEADER */
header {
    min-height: 100vh;
    transform-style: inherit;
    width: 100vw;
}

header::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background-image: url("../img/expo_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: auto;

    transform: translateZ(-1px) scale(2);
}

.page-header {
    padding-top: 8.6rem;
    margin-bottom: -1px;
    font-size: 1.25rem;
    color: #ffffff;
}

.page-header .container {
    padding: 6rem 0 0;
}

.page-header_welcome_block {
    color: rgba(0, 0, 0, .55);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #546166;
    border-color: #546166
}

section {
    transform-style: inherit;
    width: 100vw;
    background-color: #fff;
}

.gradient {
    background: rgb(24, 162, 208);
    background: linear-gradient(
            90deg,
            rgba(24, 162, 208, 1) 0%,
            rgba(3, 117, 154, 0.5) 100%
    );
}

/* INFO-ELEMENTS */
.info-elements {
    color: #4A4A4B;
}

/* FEATURE */
.feature {
    color: #ffffff;
    margin-bottom: -1px;
}

.feature ul {
    margin-left: -1.75rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url("../img/check-mark.svg");
    background-repeat: no-repeat;
    background-position-y: 7px;
    line-height: 2rem;
}

.feature ol li {
    padding-left: 3px;
    line-height: 2rem;
}

/* ORGANISATIONS AND SPONSORS */
.org_and_spons {
    color: #4A4A4B;
    padding-bottom: 5px;
}

/* PROGRAMS */
.programs {
}

.programs .container .d-flex {
    padding: 2rem 0;
}

/* ACADEMIC COMMITTEE */
.academic_committee {
    color: #4A4A4B;
}

.gallery {
    color: #4A4A4B;
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.list-group-item.active {
    background-color: #19A3D1;
    border-color: #19A3D1;
}

/* FOOTER */
footer .container {
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem;
}

footer ul li {
    list-style-type: none;
    font-size: 12px;
    margin-left: -1.7rem;
}

footer a:hover {
    color: rgba(0, 0, 0, .55);
}

a {
    color: #ffffff;
    text-decoration: none;
}

nav .dropdown-item:active {
    background-color: #0098CA;
}

/* CAROUSEL PART */
.carousel-style-css {
    margin-top: -1px;
}

.carousel-control-icon-mdb {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 100%;
}

.carousel-control-icon-mdb:hover {
    background-color: #212529;
    transition: 0.25s;
}

.carousel-control-icon-mdb:hover > #carousel-control-icon-mdb-id_1 {
    color: #ffffff;
}

.carousel-control-icon-mdb:hover > #carousel-control-icon-mdb-id_2 {
    color: #ffffff;
}

#carousel-control-icon-mdb-id_1 {
    color: black;
}

#carousel-control-icon-mdb-id_2 {
    color: black;
}

#carouselExampleControls {
    background-color: #F5F5F5;
}

.carousel-caption-content {
    color: rgba(0, 0, 0, .55);
    background-color: rgba(255, 255, 255, 0.90);
    padding: 2rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

/* ABOUT KAZAKHSTAN */
.about_kz_1 {
    color: rgba(0, 0, 0, .55);
    background: url("../img/symbols/astana.jpg") no-repeat center;
    background-size: cover;
}

.about_kz_2 {
    color: rgba(0, 0, 0, .55);
    background: url("../img/symbols/kz-flag.jpg") no-repeat center;
    background-size: cover;
}

.about_kz_3 {
    color: rgba(0, 0, 0, .55);
    background: url("../img/symbols/kz-emblem.png") no-repeat center;
    background-size: cover;
}

.about_kz p {
    background-color: rgba(255, 255, 255, 0.80);
    padding: 2rem;
    text-align: left;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

/* ORGANISATIONS AND HOSTS */
.org_and_hosts {
    color: rgba(0, 0, 0, .55);
}

@media (max-width: 576px) {
    header .container .row .col-md-5 {
        text-align: center;
    }

    header .container .row .col-md-5 .btn-group {
        margin: 0 8px 0;
    }
}

@media (max-width: 768px) {
    .org_and_spons .row .col .card {
        margin: 2rem;
    }

    .org_and_hosts .container .row .col-md-4 {
        padding: 0 0 2rem 0;
    }
}

@media (max-width: 767px) {
    .academic_committee .container .card {
        width: 70%;
        margin: 0 auto;
    }
}